 <!-- About Section -->
    <section class="success" id="profile">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>A bit about me</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>I'm an innovation leader, delivering results to entreprise with expertise and passion. I can bring teams together, set your organisation on an innovative yet safe path and empower durable change. And the engineer in me won't sleep if what we produce can't work at scale, with elegance.</p>
                </div>
                <div class="col-lg-4">
                    <p>I have had the chance to work in organisations of all sizes, from multi-national companies, internationally-renowned laboratories and agencies, to SMEs and start-ups. This gives me a rich perspective on problem solving and capacity to communicate at all levels.</p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                  <p>I'm always up for a new challenge</p>
                    <a href="https://www.dropbox.com/s/3m90knhly50w9g5/meb-cv-public.pdf?dl=1" class="btn btn-outline" target="_blank">
                        <i class="fa fa-download"></i> Download my CV
                    </a>
                </div>
            </div>
        </div>
    </section>
