 <!-- About Section -->
    <section class="success" id="profile">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>A bit about me</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>I'd like to think that I'm an innovation leader, through entrepreneurship, consultancy and passion. I bring teams together, set organisations on a successful and innovative path and empower durable change.</p>
                </div>
                <div class="col-lg-4">
                    <p>I had the chance to work in organisations of all sizes, from multi-national companies, internationally renowned laboratories and agencies, to SMEs and start-ups. This gives me a rich perspective in problem solving.</p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                  <p>I'm always up for a new challenge</p>
                    <a href="https://www.dropbox.com/s/3m90knhly50w9g5/meb-cv-public.pdf?dl=1" class="btn btn-outline" target="_blank">
                        <i class="fa fa-download"></i> Download my CV
                    </a>
                </div>
            </div>
        </div>
    </section>
